; {{ ansible_managed }}

[MySQL-asterisk]
enabled=>yes
dsn=>MySQL-asterisk
pooling=>no
limit=>1
pre-connect=>yes
username=>{{ mysql_asterisk_user }}
password=>{{ mysql_asterisk_user_password }}
mysql_database=>{{ mysql_asterisk_database }}



